{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}

<style>
    .artist-title {
        text-align:center;        
        font-size: 1.5em;
    }
</style>

<p class="lead artist-title center"> New User </p>

    {{ form(form) }}

{% endblock %}




